/* すべてのページに適用される設定 */
html{
  font-size: 17px;
  font-family:"遊明朝",serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 0 0 0;
}
p, li, td {
 line-height: 1.8;
 }
 a:link {
    color: #1A237E;
    text-decoration: none;
 }
 a:visited {
     color: #1A237E;
     text-decoration: none;
 }
 a:hover {
    color: #1A237E;
    text-decoration: underline;
 }
 a:active {
    color: #1A237E;
    text-decoration: underline;
 }
 img{
    max-width: 100%;
 }

/* すべてのページに適用 ヘッダー */
.header {
    padding-top: 40px;
    background-image: url(../images/stripe.png);
    background-repeat: repeat-x;
}
.logo {
    text-align:center;
}
.nav ul {
    margin: 30px 0 0 0 ; 
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    gap: 40px;
}
.nav a:link {
    color: #6F4E37;
}
.nav a:visited {
    color: #6F4E37;
}
.nav a:hover {
    text-decoration: none;
}
.nav a:active {
    text-decoration: none;
}

/* すべてのページに適用 ヒーロー */
.hero {
    padding: 137px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}
.hero.index {
    padding: 260px 0;
    background-image: url(../images/home-hero.jpg);
}
.hero.access{
    background-image: url(../images/access-hero.jpg);
}
.hero.menu {
background-image: url(../images/menu-hero.jpg);
}
.hero.contact {
background-image: url(../images/contact-hero.jpg);
}
/* すべてのページに適用 メイン */
main {
    margin: 90px auto 90px auto;
    max-width: 1000px;
}
main h2{
    margin: 60px 0 20px 0;
    border-bottom: 2px solid #253958;
    padding: 0 0 5px 0;
    color:#253958;
    font-size: 1.3rem; 
}

/* すべてのページに適用 フッター */
.gotop {
text-align: center;
}
.copyright {
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #253958;
    color: #FFFFFF;
    text-align: center;
}

/* 個別のスタイル */
/* index.html */
.logo-whale{
    text-align: center;
}
.shop-info{
    border-collapse: collapse;
}
.shop-info th, .shop-info td {
    border: 1px solid #DBDBDB;
    padding: 20px;
}
.shop-info th {
    width: 112px;
    text-align: left;
    vertical-align: top;
}

/* menu.html */
.items {
　　display: grid;
　　grid-template-columns: 1fr 1fr;
　　gap: 20px;
 }